* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.video-container {
  width: calc(100% - 60px);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 20px;
}
.video {
  min-height: 250px;
  height: auto;
}
.thumbnail {
  width: 100%;
  height: 138px;
  object-fit: cover;
  margin: 0px 0px 8px;
}

.title {
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  margin: 0px 0px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: black;
}
.channel-name {
  font-size: 14px;
  line-height: 16px;
  margin: 8px 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(23, 23, 25, 0.3);
}
.view-count {
  font-size: 14px;
  line-height: 16px;
  color: rgba(23, 23, 25, 0.3);
  margin: 0px 0px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
