.logo {
  height: 48px;
  width: 48px;
}

.container {
  margin: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}
